div.navbar.navbar-inverse.navbar-fixed-top
	div.container
		div.navbar-header
			button.navbar-toggle.collapsed
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand My Project
		div.navbar-collapse.collapse
			ul.nav.navbar-nav
				li.active
					a(href="#") Home
				li
					a(href="#") About
				li
					a(href="#") Contact
			div.navbar-form.navbar-right
				div.form-group
					div.btn-group
						button.btn.btn-success
							i.icon-plus.icon-fixed-width.icon-large
							span Sign Up
						button.btn.btn-default
							i.icon-signin.icon-fixed-width.icon-large
							span Sign In