div.header.navbar.navbar-inverse.navbar-fixed-top
	div.container
		div.navbar-header
			button.navbar-toggle.collapsed
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href="/") My Project
		div.navbar-collapse.collapse
			ul.nav.navbar-nav
				li(class="#{page=='index' ? 'active' : ''}")
					a(href="/") Home
				li(class="#{page=='contact' ? 'active' : ''}")
					a(href="/contact") Contact
				li(class="#{page=='about' ? 'active' : ''}")
					a(href="/about") About
			div.navbar-right
				a.navbar-brand App